{% extends 'base.html' %}

{% block title %}Список продуктов{% endblock %}

{% block content %}

<div class="logo">
   
   <div class="search">
    <form action=""  method="get">
      <label for="text">Продукты</label><br>
      <input id="text" name="sub" type="text" value={{data.query_c}}>
      <input type="submit" value="Поиск">
    </form>
  </div>
  </div>
<div class="products_container">
    {% for product in data.products %}
    <div class="product_item">
        <div class="product_image"><a href="{% url 'product_url' product.id %}"> <img src="{{ product.img }}" width="450", height="350"></a></div>
        <a class="product_name" href="{% url 'product_url' product.id %}">{{ product.title }}</a>

    </div>
    {% empty %}
        <div>Список пуст</div>
    {% endfor %}
</div>
{% endblock %}


