{% extends 'base.html' %}

{% block title %}Список продуктов{% endblock %}

{% block content %}

<div class="logo">
   
   <div class="search">
    <form action=""  method="get">
      <label for="text">Продукты</label><br>
      <input id="text" name="sub" type="text" value={{data.query_c}}>
      <input type="submit" value="Поиск">
    </form>
  </div>
  </div>
<div class="products_container">
    {% for product in products %}
    <div class="product_item">
        <div class="product_image">
          <a href="{% url 'product_url' product.product_id %}">
            <img src="{{ product.photo }}" width="450", height="350">

          </a>
        </div>
        <a class="product_name" href="{% url 'product_url' product.product_id %}">{{ product.product_name }}</a>
        
        <form action="/delete" method="POST">
          {% csrf_token %}
          <button type='submit' name= 'delete' value = {{product.product_id}}>Удалить</button>
          </form>
    </div>
    
    {% empty %}
        <div>Список пуст</div>
    {% endfor %}
</div>
{% endblock %}


